__pycache__/
*.log
data/
.env
*.json
*.zip
*.tar.gz
*.bam
*.vcf
obsolete
results
samples
.nextflow*
work/
.venv
input/
nextflow
miniconda.sh
docker/cellranger-10.0.0.tar.xz
workflows/test_pipeline.nf
clean.sh
bak_nextflow.config
workflows/hello.nf
old_nextflow.config