params {
    reads = "data/fastq/*_{R1,R2}_001.fastq.gz"
    reference = "data/reference/genome.fa"
    output_dir = "results"
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'

    // Default container for all processes
    container = 'ubuntu:22.04'

    // Specific containers for each module
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'SAMTOOLS' {
        container = 'biocontainers/samtools:v1.19.2_cv1'
    }

    withName: 'PICARD' {
        container = 'biocontainers/picard:v3.1.1--hdfd78af_0'
    }

    withName: 'GATK' {
        container = 'broadinstitute/gatk:4.5.0.0'
    }

    withName: 'SNPEFF' {
        container = 'biocontainers/snpeff:v5.2-1-deb_cv1'
    }
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}
